
.bg-custom{
    background-color: #303134;
}


.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}



.nav >.headerbtn {
  padding: .5em .8em;
  position: relative;
  text-decoration: none;
  
}

.nav >.headerbtn::before,
.nav >.headerbtn::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav >.headerbtn::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #f9cb00;
  border-right: 3px solid #f9cb00;
  transform: translate(-100%, 50%);
}

.nav >.headerbtn:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #f9cb00;
  border-left: 3px solid #f9cb00;
  transform: translate(100%, -50%)
}

.nav >.headerbtn:hover:before,
.nav >.headerbtn:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav >.headerbtn:hover {
  color: #ffffff;
}


/* border hover effect */

.borderhovereffect{
  cursor:pointer;
   
    transition:all 1s;
    &:after,&:before{
      content:" ";
      width:30px;
      height:20px;
      position:absolute;
      border :0px solid #94948d;
      transition:all 1s;
      }
    &:after{
      top:-1px;
      left:-1px;
      border-top:5px solid #e4dcdc;
      border-left:5px solid #e4dcdc;
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:5px solid #e4dcdc;
      border-right:5px solid #e4dcdc;
    }
    &:hover{
      border-top-right-radius:0px;
    
      &:before,&:after{
        
        width:100%;
        height:100%;
        
      }
    }
  }
  
 

  /* skills border */

  .borderhovereffect2{
    cursor:pointer;
     
    color: whitesmoke;
  

      
      transition:all 1s;
      &:after,&:before{
        content:" ";
        width:30px;
        height:40px;
        position:absolute;
        border-radius: 30%;
        border :0px solid #f8e800;
        transition:all 1s;
        }

      &:after{
        top:-1px;
        left:-1px;
        border-left:5px solid #000000;
        border-top:5px solid #ffffff;
      }
      &:before{
        bottom:-1px;
        right:-1px;
        border-bottom:5px solid #ffffff;
        border-right:5px solid #000000;
      }
      &:hover{
        border-top-right-radius:0px;
      
        &:before,&:after{
          
          width:80%;
          height:80%;
          
        }
      }
    }

    .borderhovereffect2:hover{
      background: #232323;
      
      
    }
    


  .balls{
    border-radius: 50%;
  background: linear-gradient(145deg, #f2d203, #cbb003);
  box-shadow:  50px 50px 100px #5a4e01,
             -50px -50px 100px #ffff05;
  }

